body{
    background: linear-gradient(to left, #91EAE4, #86A8E7, #7F7FD5); 
}
.block{
    content: "";
    display: block;
    width: 100px;
    height: 100px;
    margin-bottom: 5px;
    background: green;
    border: solid 10px #fff;
    margin-left: 0px;
}
#block1{
    /* background: linear-gradient(to left, #f5af19, #f12711);  */
    background: purple;
}
#block1:hover{
    animation-name: v1;
    animation-duration: 1s;
    animation-delay: 0.2s;
}
@keyframes v1{
    0%{
        width: 100px;
        background: purple;
    }
    50%{
        width: 300px;
        background: red;
    }
    100%{
        width: 100px;
        background: purple;
    }
}
#block2{
    /* background: linear-gradient(to left, #00b4db, #0083b0); */
    background: yellow;
}
#block2:hover{
    animation-name: v2;
    animation-duration: 2s;
    animation-delay: 0.2s;
}
@keyframes v2{
    0%{
        width: 100px;
        background: yellow;
    }
    25%{
        width: 75px;
        background: rgb(128, 226, 0);
    }
    50%{
        width: 400px;
        background: rgb(0, 226, 75);
    }
    75%{
        width: 75px;
        background: rgb(0, 192, 226);
    }
    100%{
        width: 100px;
        background: yellow;
    }
}
#block3{
    background: orchid;
}
#block3:hover{
    animation-name: v3;
    animation-duration: 2s;
    animation-delay: 0.2s;
    border: 10px dotted #fff;
}
@keyframes v3{
    0%{
        background: orchid;
        border-width: 10px;
    }
    50%{ 
        background: rgb(8, 176, 206);
        border-width: 50px;
    }
    100%{
        background: orchid;
        border-width: 10px;
    }
}

